section{
  min-height: 100vh !important;
}
.Error{
  height: 30px ;
}
.err{
  position: absolute;
  top: 50%;
width: 50%;
}
.ico{
  cursor: pointer;
}
.ico:hover{
  color: rgba(255, 0, 0, 0.5);
}
.prag{
  width: 100% !important;
  height: 200px !important;
  background-color: rgba(255, 0, 0, 0.5);
}
