<!-- <h1>Write Your Mail</h1>
<input type="text" class="form-control">
<button class="">verify</button> -->
<!-- <section> -->
  <h1>Write Your Mail</h1>
<div class="form" [formGroup]="form">
  <input type="text" class="form-control" formControlName="email">
  <div class="Error">
    <p *ngIf="form.get('email')?.getError('required') &&form.get('email')?.touched ">Email Is Required</p>
    <p *ngIf="form.get('email')?.getError('email') &&form.get('email')?.touched ">Email is Invalied</p>
  </div>
  <button class="btn btn-outline-success" (click)="forget()" [disabled]="form.invalid">
    <span *ngIf="!isvalid">verify</span>
    <span *ngIf="valid"><i class="fas fa-spin fa-spinner"></i></span>
  </button>
</div>
<div class="errorr d-flex flex-column justify-content-center align-items-center">
  <div class="err d-flex flex-column justify-content-center align-items-center" *ngIf="massage" >
    <i (click)="close()" class="ico fa-regular fa-circle-xmark fs-2 bg-white rounded-circle"></i>
    <div class=" prag rounded rounded-4 massageErroe d-flex flex-row justify-content-center align-items-center mt-2">
      <p >{{massage}}</p>
    </div>
  </div>
</div>
<!-- </section> -->

