section{
 height: 650px;
}
.err{
  position: absolute;
  top: 20%;
  left: 0%;
width: 100%;
}
.ico{
  cursor: pointer;
}
.ico:hover{
  color: rgba(255, 0, 0, 0.5);
}
.prag{
  width: 100% !important;
  height: 200px !important;
  background-color: rgba(255, 0, 0, 0.5);
}
