<h1>Write Code</h1>
<div class="form" [formGroup]="form">
  <label class="mb-2" for="password">password</label>
  <input class="form-control mb-3" id="password" type="password" formControlName="password">
  <div  *ngIf="form.get('password')?.errors && form.get('password')?.touched ">
    <p *ngIf="form.get('password')?.getError('pattern')">password 010-011-012-015 (0-9)</p>
    <p *ngIf="form.get('password')?.getError('required')">password is Required</p>
  </div>


  <label class="mb-2" for="rePassword">repassword</label>
  <input class="form-control mb-3" id="rePassword" type="password" formControlName="rePassword">
  <div  *ngIf="form.get('rePassword')?.errors && form.get('rePassword')?.touched ">
    <p *ngIf="form.get('rePassword')?.getError('required')">Repassword is Required</p>
    <p *ngIf="form.get('rePassword')?.getError('mistake')">Repassword is mistake</p>
  </div>
  <button class="btn btn-outline-success" (click)="forget()" [disabled]="form.invalid">
    <span *ngIf="!isvalid">verify</span>
    <span *ngIf="valid"><i class="fas fa-spin fa-spinner"></i></span>
  </button>
</div>
<div class="errorr d-flex flex-column justify-content-center align-items-center">
  <div class="err d-flex flex-column justify-content-center align-items-center" *ngIf="massage" >
    <i (click)="close()" class="ico fa-regular fa-circle-xmark fs-2 bg-white rounded-circle"></i>
    <div class=" prag rounded rounded-4 massageErroe d-flex flex-column justify-content-center align-items-center mt-2">
      <p >{{massage}}</p>
      <!-- <button class="btn btn-outline-success" (click)="RESET()">
        <span *ngIf="!isvalid1"> ReSend Code</span>
    <span *ngIf="valid2"><i class="fas fa-spin fa-spinner"></i></span>
       </button> -->
    </div>
  </div>
</div>
